<!DOCTYPE html>
<html>
  <head>
    <title>skySurf</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> 
  </head>

  <body>
    <% flash.each do |name, message| %>
      <%= content_tag :div, message, class: name %>
    <% end %>
    <nav id="navbar" class="navbar">
      <%= link_to root_path, id: 'navbar_logo', class: 'navbar_logo' do %>skySurf<% end %>
      <div class="navbar_links">
      <%= link_to 'Book', '#', class: 'navbar_links_link' %>
      <%= link_to 'Travel Info', '#', class: 'navbar_links_link' %>
      </div>
      <i class="fas fa-bars navbar_menu_icon"></i>
    </nav>
    <div class="spacer"></div>
    <%= yield %>
  </body>
</html>
