<!DOCTYPE html>
<html>
  <head>
    <title>skySurf</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# navbar %>
    <%= render 'layout_partials/navbar' %>

    <%# flash %>
    <%= render partial: 'layout_partials/flash_toasts', locals: {flash: flash} %>

    <%= yield %>

    <%# footer %>
    <footer class="footer">
      <%# Non accordion %>
      <%= render 'layout_partials/footer/non_accordion' %>
    
      <%# accordion %>
      <%= render 'layout_partials/footer/accordion' %>
    </footer>
    <%= javascript_pack_tag 'footer', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
